.footer__link {
  margin: 0 18px 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
  transition: .3s;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 32px 0;
  }

  .footer__link:last-child {
    margin: 0;
  }
}